Django==1.11.2
django-autocomplete-light==3.2.9
Django-bootstrap3==8.2.2
django_compressor==2.1.1
django-crispy-forms==1.6.1
django_filter==1.0.2
django-htmlmin==0.10.0
django-registration-redux==1.6
Djangorestframework==3.6.2
dj-static==0.0.6
psycopg2==2.7.1
Pillow==4.1.1
raven==6.1.0
six==1.10.0
social_auth_app_django==1.2.0