{% load aroma_extras %}

<div class="action-box" >
    <span class="star-icon">
        <i class="glyphicon glyphicon-star-empty" title="Добавить в мои ароматы" aria-label="tooltip"></i>
    </span>
    <form method="post"
            {% if not user.is_authenticated %}
                action="{% url 'auth_login' %}?next={{request.get_full_path|urlencode}}"
            {% else %}
                action="{% url 'add-favorite' aroma_id=aroma_id %}"
            {% endif %}>
        {% csrf_token %}
        <button class="heart-icon" type="submit">
            <i aria-label="tooltip"
                    {% if user.is_authenticated and user.account.favorites|aroma_in_favorites:aroma_id  %}
                        class="glyphicon glyphicon-heart" title="Убрать из избранного"
                    {% else %}
                        class="glyphicon glyphicon-heart-empty" title="Добавить в избранное"
                    {% endif %}>
            </i>
        </button>
    </form>
</div>