{% load aroma_extras %}

<div class="row row-centered" itemscope itemtype="http://schema.org/ItemList">
{% if results %}
    {% for item in results %}
        <div class="{{ aroma_size }} col-xs-12 col-centered" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
            <div class="aroma-box">
                <div class="aroma-card">
                    <a href="{{ item.url }}" class="pointed" itemprop="url" target="_blank">
                        <img src="{{ item.pic }}" alt="{{ item.title }}" class="aroma-list-pic pointed" />
                        <div class="card-title" itemprop="name">{{ item.title }}</div>
                    </a>
                    <div class="melted-text" itemprop="brand">{{ item.brand }}</div>
                    <div class="card-text">{% for group in item.groups %}{{ group }}, {% endfor %}{{ item.year }}г</div>
                    <div class="card-text">
                        {% for tag in item.tags %}#{{ tag.tag__name }} {% endfor %}
                    </div>
                </div>
                <div class="row summary-box">
                    <div class="col-sm-6 card-text">
                        {% if item.comments_counter %}
                            <a href="{{ item.url }}#comments">
                                {{ item.comments_counter }} {{ item.comments_counter| ru_pluralize:"отзыв,отзыва,отзывов" }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-6" >
                        {% include "action_box.html" with aroma_id=item.id favorite=item.favorite like=item.like %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div>По вашему запросу ничего не найдено</div>
{% endif %}
</div>
