{% extends 'layout.html' %}
{% load staticfiles %}
{% load aroma_extras %}

{% block title %}{{ brand.title }} {{ title }}: описание, цены, отзывы{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
    <div class="container-space">
        <div class="container">
            <div class="row aroma-container">
                <h3 class="title">{{ title }}</h3>
                <div class="col-md-1"></div>
                <div class="col-md-6 col-sm-6 center">
                    <img src={{ pic }} alt="{{ title }}" class="img-responsive" />
                    <div class="row-fluid favorite">
                        <i class="glyphicon glyphicon-list img-circle" id="plus" title="Добавить в мои ароматы"
                            data-toggle="tooltip" data-placement="top"></i>
                        <i class="glyphicon glyphicon-heart img-circle" title="Добавить в избранное"
                            data-toggle="tooltip" data-placement="top"></i>
                    </div>
                    <p class="aroma_description">{{ description }}</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="row-fluid">
                        <h5 class="col-md-4 col-xs-5 feature">Группа</h5>
                        <h5 class="col-md-8 col-xs-7 feature_data">{{ group.title }}</h5>
                    </div>
                    <div class="row-fluid">
                        <h5 class="col-md-4 col-xs-5 feature">Год</h5>
                        <h5 class="col-md-8 col-xs-7 feature_data">{{ year }}</h5>
                    </div>
                    <div class="row-fluid">
                        <h5 class="col-md-4 col-xs-5 feature">Пол</h5>
                        <h5 class="col-md-8 col-xs-7 feature_data">{{ gender_label }}</h5>
                    </div>
                    {% if noses %}
                        <div class="row-fluid">
                            <h5 class="col-md-4 col-xs-5 feature">Парфюмер{% if noses.count > 1 %}ы{% endif %}</h5>
                            <h5 class="col-md-8 col-xs-7 feature_data">
                                {% for nose in noses %}
                                    {{ nose.name }}<br/>
                                {% endfor %}
                            </h5>
                        </div>
                    {% endif %}
                    <div class="row-fluid center">
                        <img src="{{ brand.logo }}" alt="{{ brand.title }}" class="img-responsive logo"/>
                    </div>
                    <div class="row-fluid">
                        {% if general_notes %}
                            <h5 class="feature_data center note-title">Ноты</h5>
                            {% include "notes.html" with notes=general_notes %}
                        {% endif %}
                        {% if top_notes %}
                            <h5 class="feature_data center note-title">Верхние Ноты</h5>
                            {% include "notes.html" with notes=top_notes %}
                        {% endif %}
                        {% if middle_notes %}
                            <h5 class="feature_data center note-title">Средние Ноты</h5>
                            {% include "notes.html" with notes=middle_notes %}
                        {% endif %}
                        {% if base_notes %}
                            <h5 class="feature_data center note-title">Нижние Ноты</h5>
                            {% include "notes.html" with notes=base_notes %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}