{% load aroma_extras %}

{% if notes %}
    <h5 class="feature_data center-text">{{ note_title }}</h5>
    <div class="center-text">
        {% for note in notes %}
            <div class="note-block">
                <a href="{% url 'aroma-list' %}?in_notes={{ note.id }}">
                    <img {% if note.pic %}src="{{ note.pic }}"{% endif %} alt="{{ note.title }}" class="img-circle note-pic"/>
                    <div class="note-text">{{ note.title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}