{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}Избранное{% endblock %}

{% block content %}
    <div id="profile">
        <div class="profile-space container-fluid">
            <ul class="nav nav-pills nav-justified">
              <li {% if 'favorites' in request.path %}class="active"{% endif %}><a href="{% url 'profile-fav' %}"><i class="glyphicon glyphicon-star"></i> Избранное</a></li>
              <li {% if 'likes' in request.path %}class="active"{% endif %}><a href="{% url 'profile-like' %}"><i class="glyphicon glyphicon-heart"></i> Нравится</a></li>
              <li {% if 'comments' in request.path %}class="active"{% endif %}><a href="#username=user.username"><i class="glyphicon glyphicon-pencil"></i> Комментарии</a></li>
            </ul>
            {% if results %}
                <div class="row profile-box aroma-panel">
                    <div>
                        {% include "item_list.html" with results=results count=count aroma_size='col-md-3 col-sm-4' %}
                        {% include 'center_pagination.html' with previous_url=previous_url next_url=next_url page_links=page_links %}
                    </div>
                </div>
            {% else %}
                {% include 'profile_favorites_empty.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}