{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load aroma_extras %}


{% block title %}Найди свой парфюм{% endblock %}
{% block description %}Женские и мужские духи с описанием, новинки и популярные ароматы, поиск по параметрам{% endblock %}
{% block keywords %}женские духи мужской парфюм описание ноты отзывы найти аромат новые духи унисекс самый популярный парфюм{% endblock %}

{% block content %}
    <link rel="canonical" href="{% url 'aroma-list' %}" />
    <div class="container-space">
        <div class="container-fluid" >
            <div class="row aroma-container aroma-panel">
                <div class="col-sm-9">
                    <h1 class="center-text">Поиск ароматов</h1>
                    <button class="visible-xs to-form center-block btn btn-base"><a href="#search">Фильтры поиска</a></button>
                    <ul class="list-inline sort">
                        Сортировать:
                        <li><a href="?{% url_replace request 'ordering' '-year,title' %}"
                                {% if '-year' in request.GET.ordering or not request.GET.ordering %} class='selected'{% endif %}>
                            по новизне</a></li>
                        <li><a href="?{% url_replace request 'ordering' '-aromacounter__num_comments,title' %}"
                                {% if '-aromacounter__num_comments' in request.GET.ordering %} class='selected'{% endif %}>
                            по популярности</a></li>
                        <li><a href="?{% url_replace request 'ordering' '-updated_at,title' %}"
                                {% if '-updated_at' in request.GET.ordering %} class='selected'{% endif %}>
                            по дате обновления</a></li>
                    </ul>
                    {% include "item_list.html" with results=results count=count aroma_size='col-md-4 col-sm-6' %}
                    {% include 'center_pagination.html' with previous_url=previous_url next_url=next_url page_links=page_links %}
                </div>
                <section id="search" class="col-sm-3">
                    <form name="search_form" id="search_form" class="base-form" method="GET">
                        {% crispy form %}
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script>
        $('#search_form').on('change', function(){
            $('#submit-id-submit').click();
        });
    </script>
{% endblock %}
