{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Контакты{% endblock %}
{% block description %}Как с нами связаться. Форма обратной связи{% endblock %}
{% block spec %}id="contacts"{% endblock spec %}

{% block authform %}

    <h3 class="center-text">Обратная связь</h3>
    <form method="post" class="base-form" id="transparent-form" onsubmit="preventDoubleClick(this)">
        {% include "elements/messages.html" with messages=messages %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="submit" class="btn btn-base">
            <i class="glyphicon glyphicon-send"></i> Отправить
        </button>
    </form>

{% endblock authform %}