<ul class="nav nav-pills nav-justified">
    <li {% if 'favorites' in request.path %}class="active"{% endif %}><a href="{% url 'profile-fav' %}"><i class="glyphicon glyphicon-star"></i> Избранное ({{ request.user.account.num_favorites }})</a></li>
    <li {% if 'likes' in request.path %}class="active"{% endif %}><a href="{% url 'profile-like' %}"><i class="glyphicon glyphicon-heart"></i> Нравится ({{ request.user.account.num_likes }})</a></li>
    <li {% if 'comments' in request.path %}class="active"{% endif %}><a href="{% url 'profile-comment' %}"><i class="glyphicon glyphicon-pencil"></i> Комментарии ({{ request.user.account.num_comments }})</a></li>
</ul>