{% extends 'layout.html' %}

{% block title %}Специальное предложение{% endblock %}
{% block description %}Скидка для наших пользователей{% endblock %}

{% block content %}
    <div id="profile">
        <div class="profile-space container-fluid">
            {% include "profile/profile_menu.html" %}
            <div class="row profile-box aroma-panel">
                <div class="center-text">
                    <div>Введите кодовое слово <b>admitad</b> и получите дополнительную скидку 5% к Вашей Дисконтной Карте</div>
                    <div>Не распространяется на товары со спецценой и применённой по умолчанию скидкой, продукцию категории Scent Bibliotheque и бренды Balenciaga, Bonacure, Bottega Veneta, H.Air Spa, L'oreal Professionnel, Macadamia, Osis+, Sexy Hair.</div>
                    <p></p>
                    <!-- admitad.banner: 8x40kygxc0778b031be529547bf01b Л'Этуаль -->
<a target="_blank" rel="nofollow" href="https://pafutos.com/g/8x40kygxc0778b031be529547bf01b/?i=4"><img width="728" height="90" border="0" src="https://ad.admitad.com/b/8x40kygxc0778b031be529547bf01b/" alt="Л&#39;Этуаль"/></a>
<!-- /admitad.banner -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
