<section id="comments">
    <hr>
    <div>
        {% if comments %}
            <h3>Отзывы</h3>
            {% for comment in comments %}
                {% include "comment.html" with comment=comment %}
            {% endfor %}
            <h6 class="text-right">Emoji artwork provided by <a href="www.emojione.com">EmojiOne</a></h6>
        {% else %}
            <div class="col-lg-9">
                <h3>Отзывов пока нет :(</h3>
                <h6>Поделитесь своим впечатлением о парфюме</h6>
                <h6>Ваш отзыв может помочь другим при выборе аромата</h6>
            </div>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <a href="{% url 'add-comment' aroma_id=aroma_id %}">
            <button type="submit" class="btn btn-base"><i class="glyphicon glyphicon-pencil"></i>Написать отзыв</button>
        </a>
    </div>
</section>