<section id="comments">
    <hr>
    <div>
        {% if comments %}
            <h3>Отзывы</h3>
            {% for comment in comments %}
                {% include "comment.html" with comment=comment %}
            {% endfor %}
            <div class="emoji text-right">Emoji artwork provided by <a rel="nofollow" href="http://www.emojione.com" target="_blank">EmojiOne</a></div>
        {% else %}
            <div class="col-sm-9">
                <p>Ваш отзыв может стать первым</p>
                <div>Поделитесь своим впечатлением о парфюме</div>
                <div>Это поможет другим при выборе аромата</div>
            </div>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <a href="{% url 'add-comment' aroma_id=aroma_id %}" target="_blank">
            <button type="submit" class="btn btn-base"><i class="glyphicon glyphicon-pencil"></i>Написать отзыв</button>
        </a>
    </div>
</section>