{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block authform %}

    <h3 class="center-text">Вход</h3>
    <form method="post" action="" id="transparent-form" class="base-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-base center-block">Войти</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <h5 class="center-text">Нет аккаунта? <a href="{% url 'registration_register' %}">Зарегистрировать</a></h5>
    <h5 class="center-text"><a href="{% url 'auth_password_reset' %}">Забыли пароль</a></h5>

{% endblock %}
