{% extends 'emails/base.html' %}
{% block title %}Смена пароля на {{ site.name }}{% endblock %}

{% block content %}
    <p style="margin-bottom:20px;color:#49545E;">Привет, {{ user.username }}!</p>
    <p style="margin-bottom:20px;color:#49545E;">
        Чтобы создать новый пароль, нажмите на кнопку ниже:
    </p>
    <a style="display: inline-block; height: 35px; line-height: 35px; padding: 0 30px; margin-bottom: 15px; border-radius: 0; background: #FFBE9F; color: #ffffff; text-decoration: none; margin-right: 10px; vertical-align: middle; text-transform:uppercase;" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
        Новый пароль
    </a>

    <p style="margin-bottom:30px;color:#898c92;font-size:11px;">
        Или перейдите по ссылке:<br>
    <a style="color: #ffb6c1; font-weight: 300; text-decoration: none;" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
        href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}"
    </a>

{% endblock %}