{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Регистрация аккаунта{% endblock %}
{% block spec %}id="auth"{% endblock spec %}

{% block authform %}

    <h3 class="center-text">Регистрация</h3>
    <form method="post" action="" id="transparent-form" class="base-form" onsubmit="preventDoubleClick(this)">
        {% include "elements/messages.html" with messages=messages %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="submit" class="btn btn-base center-block">Зарегистрироваться</button>
    </form>
    <h5 class="center-text">Уже есть аккаунт? <a href="{% url 'auth_login' %}">Войти</a></h5>

{% endblock %}