{% extends 'registration/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Повторная активация аккаунта{% endblock %}
{% block spec %}id="auth"{% endblock spec %}

{% block authform %}

    <h3 class="center-text">Повторная активация аккаунта</h3>
    <form method="post" action="" id="transparent-form" class="base-form">
        {% include "elements/messages.html" with messages=messages %}
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-base center-block">Отправить</button>
    </form>

{% endblock %}