body {
    width: 100%;
    height: 100%;
    /*font-weight: 300;*/
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFB79D;
    /*box-shadow:0 0 0 500px rgba(69, 53, 54, 0.40) inset;*/
    /*background:fixed linear-gradient(40deg, #FFC27B, #FFABC2) no-repeat, fixed linear-gradient(-40deg, transparent 40%, blue) no-repeat;*/
    /*background:fixed  linear-gradient(40deg, #FFABC2 20%, #FFC27B) no-repeat, fixed linear-gradient(-20deg, white 10%, #FFABC2  90%) no-repeat;*/
    /*background:fixed  linear-gradient(40deg, transparent 40%, #FFC27B) no-repeat, fixed linear-gradient(-40deg, brown 20%, #FFABC2  90%) no-repeat;*/
    /*background:fixed linear-gradient(to left top, #FFC27B, #FFABC2) no-repeat;*/
    /*background: #FFC29E;*/
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #337ab7;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FFA525;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    height: 40px;
    padding: 8px 15px;
}

.navbar-brand h1{
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    /*text-shadow: 2px 2px #666;*/
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
}

.navbar-custom ul.nav li a {
	font-size: 11px;
	letter-spacing: 1px;
    color: #444;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border: none;
    border-radius: 0;
    background-color: rgba(255,255,255,.9);
    padding: 0;
    margin: 0;
}

/*.navbar-custom ul.nav ul.dropdown-menu li:hover{*/
    /*background-color: #FFBE9F;*/
/*}*/

.navbar-custom ul.nav ul.dropdown-menu li {
	/*border-bottom: 1px solid #f2dede;*/
    padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a{
    font-size: 11px;
    font-weight: 500;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover{
	text-shadow: .2px 0px 0px #444;
}

.navbar-custom .nav li a:hover:not(.no-hover),
.navbar-custom .nav li a:focus:not(.no-hover),
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-custom .nav li .no-hover a:hover{
    background-color: transparent;
}

#navbar-main .dropdown-user span{
    /*color: #666;*/
}


/* misc */
hr {
  margin-top: 10px;
}

/* ===========================
--- Intro
============================ */

#intro {
	background: url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
}

.cover-space {
	padding: 23% 0 0 0;
}

#intro h4 {
    text-align: right;
    margin: 15px;
    color: #453536;
    font-size: 1.3em;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
}

#compact-search-form input, #compact-search-form .btn-default{
    height: 46px;
    box-shadow: none;
}

#compact-search-form .btn-default:hover{
    background-color: rgba(255, 190, 159, 0.8);
}

#compact-search-form input{
    background-color: rgba(255,255,255, 0.9);
    border-color: rgba(255, 190, 159, 0.5);
    border-right-color: transparent;
}


#compact-search-form .btn-default{
    color: #453536;
    background-color: rgba(255, 190, 159, 0.7);
    border-radius: 0;
    border-color: transparent;
}

#compact-search-form .input-group-btn{
    vertical-align: bottom;
}

/* ===========================
--- Contacts
============================ */

#contacts {
	text-align: center;
}

.container-space {
    height: auto;
    margin-top: 40px;
    font-weight: 500;
}

.contacts-container {
    background-color: #f9f9f9;
    padding: 15px 0 0 0;
    font-weight: 500;
}

blockquote {
    background: #E1F5FF;
    padding: 0;
}

blockquote:before {
    content: "\201C";
    font-size: 30px;
    letter-spacing: 2px;
}

/* ===========================
--- Aroma
============================ */
.aroma-container {
    background-color: #fff;
    padding: 15px 0;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "HelveticaNeueLight", Helvetica, Arial, sans-serif;
}

.breadcrumbs {
    padding-left: 20px;
}

.breadcrumbs > li + li:before {
    color: #ddd;
    content: "\2022";
    padding-right: 10px;
}

.breadcrumbs a {
    color: #666;
}

.aroma-container h3{
    padding: 13px 0;
    font-size: 20px;
}

.aroma-pic {
    max-height: 330px;
}

.center-text {
    text-align: center;
}

.feature{
    opacity: 0.4;
    text-align: right;
    line-height: 1.4em;
}

.feature_data {
    line-height: 1.4em;
}

.feature_data a{
    color: #555;
}

.feature_data h5 {
    padding: 15px 0;
    font-size: 120%;
}

.logo{
    width: 100px;
    height: auto;
    padding: 10px 0;
}

.note-pic {
    width: 60px;
    height: 60px;
    opacity: 1;
    float: left;
}

.note-block:hover .note-pic {
    opacity: 0;
}

.note-block:hover .note-text{
    opacity: 1;
}

.note-text {
    opacity: 0;
    color: #453536;
    word-wrap: break-word;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: capitalize;
}

.note-block{
    display: inline-block;
    position: relative;
}

.notes{
    display: inline-block;
}

.aroma_description{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4;
    color: #444;
}

#aroma-detail .action-box{
    font-size: 22px;
    color: #ccc;
}

/* ===========================
--- Footer
============================ */

#footer {
	background-color: #453536;
    color: #FFF;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
	padding: 10px 0;
    font-weight: 300;
}

#footer a{
    color: lightpink;
}

.copyright {
    text-align: right;
}

/* ==========================
Search form
============================= */

/* dal bootstrap css fix */
#search_form .select2-container {
    width: 100%;
    min-width: 10em;
}

#search_form .select2-container--default .select2-selection--single,
#search_form .select2-container--default .select2-selection--multiple {
    min-height: 34px;
}

/* django-addanother bootstrap css fix */
.related-widget-wrapper{
    padding-right: 16px;
    position: relative;
}
.related-widget-wrapper-link{
    position: absolute;
    top: 3px;
    right: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]  {
    background-color: #FFBE9F !important;
}

#search_form .select2-selection__choice{
    background-color: linen;
    color: #444;
    border: none;
}

.select2-dropdown--below, .select2-dropdown--above{
    border-radius: 0 !important;
    border-color: #f2dede !important;
}


#search_form .select2-selection__choice__remove{
    color: darksalmon;
}

.styled-checkbox{
  display:none;
}
.styled-checkbox + label{
  cursor:pointer;
}
.styled-checkbox + label:before{
    content: " ";
	background: #fff;
	height: 18px;
    width: 18px;
	border: 1px solid #f2dede;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
    position:relative;
    top:-1px;
}
.styled-checkbox:checked + label:before{
	content: "\2713";
	color: darksalmon;
	font-size: 18px;
	text-align: center;
	line-height: 18px;

  }



.base-form .has-error .help-block, .base-form .has-error .control-label, .base-form .alert-danger{
    color: #dc143c;
}

.base-form .has-error .form-control, .base-form .has-error .help-block, .base-form .has-error .control-label, .base-form .alert-danger{
    border-color: #dc143c;
}

.base-form .alert-danger, .base-form .alert-success, .base-form .alert-info{
    border-radius: 0;
    background-color: transparent;
    text-align: justify;
    font-weight: 400;
}

.base-form .alert-info{
    color: #337ab7;
    border-color: #337ab7;
}

.base-form .alert ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-group{
    margin-bottom: 5px;
}

.form-group label{
    color: #555;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}

.checkbox label{
    padding-left: 1cm;
}


.form-group .controls{
    margin-bottom: 12px;
    margin-top: 2px;
}

#search_form .form-control, #search_form .checkbox input[type=checkbox],
#search_form .select2-container--default .select2-selection--single,
#search_form .select2-container--default .select2-selection--multiple{
    box-shadow: none;
    border-radius: 0;
    border-color: #f2dede;
}

#div_id_min_year, #div_id_max_year{
    max-width: 50%;
    width: 50%;
    float: left;
    padding: 0 1px 0 1px;
}

.btn-base{
    background-color: lightpink;
    color: #555;
    width: 100%;
    height: 37px;
    letter-spacing: 1px;
    border-radius: 0;
}

.btn-base:hover{
    background-color: #FFACB6;
}

.help-block{
    padding: 0;
    font-size: 12px;
}

.aroma-container .sort{
    color: #555;
    padding: 15px;
}

.aroma-container .sort a{
    /*color: #5576D1;*/
    color: royalblue;
}

.aroma-container .sort .selected{
    color: #555;
    cursor: default;
}

/* ==========================
    TOS
============================= */
#tos{
    text-align: justify;
    padding: 20px 35px;
}

#tos h6{
    text-indent: 20px;
}

#tos h4{
    padding: 20px 0;
}

/* ==========================
Aroma List
============================= */
.aroma-panel {
    background: #FFFAFA;
}

.aroma-list-pic {
    width: auto;
    vertical-align: bottom;
    height: 150px;
}
.aroma-card {
    background: white;
    /*border: 1px solid #f2dede;*/
    box-shadow: 0 1px 1px #f2dede;
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
}

.melted-text {
    font-size: 12px;
    color: #ccc;
    padding-top: 0;
    margin-top: 0;
    font-weight: 300;
}

.pointed{
    cursor: pointer;
}

.card-text {
    color: #777;
    font-size: 12px;
}

.card-title {
    color: #555;
    font-size: 120%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.8em;
    padding-top: 10px;
}

.aroma-card:hover .card-title {
    color: #FFB862;
}

.summary-box{
    font-size: 13px;
    color: #aaa;
    padding: 8px 0;
    line-height: 1.4em;
}

.action-box{
    font-size: 17px;
}

.star-icon:hover{
    color: #FFB862;
}

.heart-icon:hover{
    color: #FFABC2;
}

.num-results {
    padding-bottom: 28px;
    font-size: 13px;
    color: #999;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.row-centered {
    text-align:center;
    padding-right: 10px;
    padding-left: 10px;
}

.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
    padding-left: 15px;
    padding-right: 0;
    padding-bottom: 15px;

}
/* ==========================
Pagination
============================= */

#pagination li a {
    border: none;
    color: #555;
    margin: 0 4px;
    background-color: #FFFAFA ;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

#pagination .active a{
    background-color: #ffcfbe;
    cursor: default;
}

#pagination li a:not(.no-hover):hover {
    background-color: linen;
}

.pagination {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
}

/* ==========================
Parallax
============================= */

#parallax1{	
	background-image: url(../img/bg.jpg);
}

#parallax1:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


#parallax2{	
	background-image: url(../img/bg.jpg);

}

#parallax2:after  {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}

/* ===========================
--- 404
============================ */
/*.nav-space{*/
    /*margin-top: 90px;*/
/*}*/


#err {
	background: url(../img/404.jpeg) no-repeat top left fixed;
    background-size: cover;
}

#err h1, #err h3{
    text-align: right;
    color: white;
    text-shadow: 2px 2px #453536;
}

#err h1{
    font-size: 3em;
}

/* ===========================
--- Authorization
============================ */
#auth {
    background-size: cover;
    background-color: #FFABC2;
    color: #453536;

}

#auth .cover-space {
	padding-top: 80px;
}

#auth h3{
    padding-top: 20px;
}

#auth h5{
    padding-bottom: 10px;
    font-weight: 300;

}

#auth h5 a:hover{
    color: #fff;
}

#auth h5 a{
    /*color: #337ab7;*/
    text-decoration: underline;
}

#transparent-form input, #transparent-form .btn-default{

    height: 40px;
    box-shadow: none;
    border-radius: 0;
}

#transparent-form .btn-base{
    height: 50px;
    font-weight: 300;
    color: #453536;
    background-color: rgba(255, 207, 190, 0.85);
    box-shadow: none;
}

#transparent-form .btn-base:hover{
    background-color: #ffcfbe;
}

#transparent-form {
    padding: 20px 0;
}

#transparent-form li {
    text-align: justify;
}

#transparent-form label{
    color: #453536;
    font-weight: 300;
}

#transparent-form input{
    border: none;
    background-color: rgba(255, 255, 255, 0.70);
    height: 45px;
}

/* ===========================
--- Elements
============================ */

.cover {
	width: 100%;
    margin-top: -90px;
    min-height: 100%;
    height: auto;
    padding: 0;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}


@media (min-width: 992px) {
    .container-fluid {
        width: 90%;
    }

}

@media(min-width:767px) and (max-width: 992px){
    .container-fluid {
        width: 95%;
    }
    div{
        font-size: 12px;
    }
}

/* Media queries */

@media(min-width:767px){
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

}


@media (max-width:767px){
    .navbar{
        padding-top: 10px;
        background-color: #ffcfbe;
    }
    .navbar-custom ul.nav li a{
        color: #555;
    }

    div{
        font-size: 12px;
    }
    .navbar span{
        font-size: 20px;
        color: #555;
        padding: 0;
        margin: 0;
    }
    .navbar-brand h1{
        color: #444;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    .container-space {
        margin-top: 0;
    }

    #intro {
        background: #FFFAFA;
    }

    #compact-search-form{
            padding-top: 40%;
    }

    #err h1, #err h3{
        text-align: left;
    }

    #err .cover-space {
        padding-top: 60%;
    }

    .aroma-pic {
        height: 250px;
    }

    .note-text{
        opacity: 1;
        margin-right: 15px;
    }

    .note-pic{
        opacity: 0;
        height: 30px;
        width: 65px;
    }

    .feature_data h5{
        font-weight: 700;
        padding: 10px 0;
    }

    #aroma-detail h3{
        font-size: 18px;
    }

    #aroma-detail .right-group{
        padding-top: 15px;
    }

    .feature_data, .feature, .note-text{
        font-size: 13px;
    }
	
}
