{% extends 'layout.html' %}

{% block content %}
    <div id="contacts" class="container-space">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 contacts_container">
                    <blockquote>
                        Висячий мостик мечты
                        <small>Такада Кендзо о своем первом аромате</small>
                    </blockquote></p>
                    <p>Мы хотим чтобы мечты, а точнее ароматы, стали ближе :)</p>
                    <h4>Ждем ваших сообщений</h4>
                    <div class="row">
                        <h5 class="col-md-6 col-xs-6">Служба поддержки
                            <a href="mailto:{{ mail_service }}">{{ mail_service }}</a>
                        </h5>
                        <h5 class="col-md-6 col-xs-6">Партнерам
                            <a href="mailto:{{ mail_marketing }}">{{ mail_marketing }}</a>
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}