{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Выбери свой парфюм{% endblock %}
{% block description %}Odelife - Коллекция ароматов, собранная с любовью{% endblock %}

{% block content %}
<div class="cover fadein" id="intro" itemscope itemtype="http://schema.org/WebSite" >
    <meta itemprop="url" content="https://odelife.ru/"/>
    <div class="cover-space">
        <!--<h2>Добро пожаловать на <span class="text_color">Ode life</span> </h2>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-xs-1"></div>
                <div class="col-sm-6 col-xs-10">
                    <form name="compact-search-form" id="compact-search-form" method="GET" onsubmit="preventDoubleClick(this)"
                          itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="{{ request.scheme }}://{{ request.get_host }}{% url 'aroma-list' %}?title={title}" />
                        <div class="input-group">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="input-group-btn">
                                <button type="submit" name="submit" class="btn btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <h4>Коллекция ароматов, собранная с любовью</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}