<!DOCTYPE html>
<html lang="en">

<head>
	{% block meta %}
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
        <title>{% block title %}{% endblock %}</title>
	{% endblock %}

	{% block styles %}
		{% load bootstrap3 %}
        {% load compress %}
        {% compress css %}
		    {% bootstrap_css %}
		    {% load staticfiles %}
    	    <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% endcompress %}
        {% compress js %}
            <script src="{% bootstrap_jquery_url %}"></script>
            {% bootstrap_javascript %}
        {% endcompress %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-custom navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h1>Ode Life</h1>
                </a>
            </div>

            <div сlass="collapse navbar-collapse  navbar-main-collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
        			<li class="active"><a href="{% url 'aroma-list' %}">Ароматы</a></li>
					<li><a href="javascript:void(0);">Ноты</a></li>
					<li><a href="javascript:void(0);">Носы</a></li>
					<li><a href="{% url 'contacts' %}">Контакты</a></li>
        			<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Example menu</a></li>
            				<li><a href="#">Example menu</a></li>
            				<li><a href="#">Example menu</a></li>
          				</ul>
        			</li>
      			</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    {% block content %}
    {% endblock %}


	<footer id="footer" class="navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-6 col-lg-6">
					<div>Мы рядом <a href="mailto:support@odelife.ru">support@odelife.ru</a></div>
				</div>
				<div class="col-xs-6 col-md-6 col-lg-6">
					<div class="copyright">&copy; OdeLife, 2017</div>
				</div>
			</div>
		</div>
	</footer>

	{% block scripts %}
        {% compress js %}
            <script src="{% static 'js/app.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
            {% block extra_javascript %}
            {% endblock %}
        {% endcompress %}
    {% endblock %}
</body>

</html>
