<!DOCTYPE html>
<html lang="ru">

<head>
	{% block meta %}
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="OdeLife">
    	<meta name="description" content={% block description %}{% endblock %}>
        <title>{% block title %}{% endblock %}</title>
	{% endblock %}

	{% block styles %}
		{% load bootstrap3 %}
        {% load compress %}
        {% bootstrap_css %}
        {% load staticfiles %}
        {% compress css %}
    	    <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
            <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
            <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
            <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#ffabc2">
            <meta name="theme-color" content="#ffffff">
        {% endcompress %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-custom navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h1>Ode Life</h1>
                </a>
            </div>

            <div сlass="collapse navbar-collapse  navbar-main-collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
        			<li {% if request.resolver_match.url_name == 'aroma-list' %}class="active"{% endif %}><a href="{% url 'aroma-list' %}">Ароматы</a></li>
					<li><a href="javascript:void(0);">Ноты</a></li>
					<li><a href="javascript:void(0);">Носы</a></li>
					<li {% if 'contacts' in request.path %}class="active"{% endif %}><a href="{% url 'contacts' %}">Контакты</a></li>
        			{% if not user.is_authenticated %}
                        <li><a class="nav-auth" href="{% url 'auth_login' %}?next={{ request.path|urlencode }}"><img src="{% static 'img/icons/sign-in.svg' %}"/> Войти</a></li>
                    {% else %}
                    <li class="dropdown">
          				<a href="#" class="dropdown-toggle dropdown-user" data-toggle="dropdown"><span class="glyphicon glyphicon-user"> </span> {{ user.account.get_short_name }}<b class="caret"></b></a>
						<ul class="dropdown-menu no-hover">
							<li><a href="#" >Мои ароматы</a></li>
            				<li><a href="#">Настройки</a></li>
            				<li><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">Выход</a></li>
          				</ul>
        			</li>
                    {% endif %}
      			</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    {% block content %}
    {% endblock %}


	<footer id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 col-md-6 col-lg-6">
					<div>Мы рядом <a href="mailto:support@odelife.ru">support@odelife.ru</a></div>
				</div>
				<div class="col-xs-6 col-md-6 col-lg-6">
					<div class="copyright">&copy; OdeLife, 2017,
                        <a href="{% url 'tos' %}">
                            <div>Пользовательское соглашение</div>
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</footer>

	{% block scripts %}
        <script src="{% static 'js/app.js' %}"></script>
        {% compress js %}
            {% block extra_javascript %}
            {% endblock %}
        {% endcompress %}
    {% endblock %}
</body>

</html>
