{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load aroma_extras %}

{% block content %}
    <div class="contacts_space">
        <div class="container" >
            <div class="row aroma_container">
                <div class="col-md-9 col-sm-9" >
                    <div class="sort">
                        Сортировать:
                        <a href="?{% url_replace request 'ordering' '-year' %}" {% if request.GET.ordering == '-year' or not request.GET.ordering %}
                           class='selected'{% endif %}>по новизне</a>
                        <a href="?{% url_replace request 'ordering' '-aromacounter__num_comments' %}"
                                {% if request.GET.ordering == '-aromacounter__num_comments' %}
                           class='selected'{% endif %}>по популярности</a>
                    </div>
                    {% for item in items %}
                        {{ item.title }}{{ item.year }}<br/>
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-3">
                    <form name="search_form" id="search_form" method="GET">
                        {% crispy form %}
                        <button type="submit" class="btn btn-search">Выбрать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script>
        $('#search_form').on('change', function(){
            $('#search_form').submit();
        });
    </script>
{% endblock %}
