{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="contacts_space">
        <div class="container" >
            <div class="row aroma_container">
                <div class="col-md-9 col-sm-9" >
                    {% for item in items %}
                        {{ item.title }}{{ item.year }}<br/>
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-3">
                    <form name="search_form" id="search_form" method="GET">
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn btn-search">Выбрать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    <script>
        $('#search_form').on('change', function(){
            $('#search_form').submit();
        });
    </script>
{% endblock %}
